<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Credit Card Payment</title>
       <link rel="stylesheet" type="text/css" th:href="@{/css/creditCard.css}" />
    </head>
    <body>
        <h1>Enter Credit Card Details</h1>
        <form th:action="@{/processPayment}" th:object="${creditCardForm}" method="post">
            <div>
                <label for="cardNumber">Card Number:</label>
                <input type="text" id="cardNumber" th:field="*{cardNumber}" />
                <span th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">Card Number Error</span>
            </div>
            <div>
                <label for="cardholderName">Cardholder Name:</label>
                <input type="text" id="cardholderName" th:field="*{cardholderName}" />
                <span th:if="${#fields.hasErrors('cardholderName')}" th:errors="*{cardholderName}">Cardholder Name Error</span>
            </div>
            <div>
                <label for="expMonth">Expiration Month (MM):</label>
                <input type="text" id="expMonth" th:field="*{expMonth}" />
                <span th:if="${#fields.hasErrors('expMonth')}" th:errors="*{expMonth}">Exp Month Error</span>
            </div>
            <div>
                <label for="expYear">Expiration Year (YYYY):</label>
                <input type="text" id="expYear" th:field="*{expYear}" />
                <span th:if="${#fields.hasErrors('expYear')}" th:errors="*{expYear}">Exp Year Error</span>
            </div>
            <div>
                <label for="cvv">CVV:</label>
                <input type="text" id="cvv" th:field="*{cvv}" />
                <span th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}">CVV Error</span>
            </div>
            <button type="submit">Submit Payment</button>
        </form>
    </body>
</html>
